@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
}

.main-container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

/* Sidebar (menu) */
.menu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.menu img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
    border: 3px solid #00feba;
    object-fit: cover;
}

.menu a {
    text-decoration: none;
    padding: 12px;
    margin: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.menu a:hover {
    background-color: #00feba;
    color: #000;
}

.expense-history {
    grid-column: 2;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000;
}

table, th, td{
    margin: 10px;
    padding: 10px 25px;
    border-collapse: collapse;
    color: #000;
    text-align: center;
}

th, td{
    border: 1px solid #000;
}

.edit {
    width: 100%;
    padding: 12px;
    background: #00b894;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.edit:hover {
    background: #019875;
}

.del{
    width: 100%;
        padding: 12px;
        background: #d21013;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
}
.del:hover{
    background: #b3263d;
}